<div class="container">
  <table>
    <thead>
      <tr>
        <td>name</td>
        <td>商品説明</td>
        <td>価格</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @products.each do |product| %>
        <th><%= product.name %></th>
        <th><%= product.description %></th>
        <th><%= product.price %></th>
        <th> <%= link_to "Show", user_product_path(product) %></th>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>

