
<div class="sidebar-admin wrap-content">
  <nav class="mt-2">
    <ul>
      <li class="nav-item">
        <%= link_to dashboard_path, class: "nav-link" do %>
          <i class="nav-icon fas fa-home"></i>
          <p>Home</p>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to root_path, class: "nav-link" do %>
          <i class="nav-icon far fa-user"></i>
          <p>顧客一覧</p>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to dashboard_products_path, class: "nav-link rails-link" do %>
          <i class="nav-icon fas fa-utensils"></i>
          <p>商品</p>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to root_path, class: "nav-link" do %>
          <i class="nav-icon far fa-calendar-check"></i>
          <p>購入一覧</p>
        <% end %>
      </li>
     
    </ul>
  </nav>
</div>

